.active1234 img {
  max-height: auto;
  max-height: 200px;
  overflow: hidden;
}

.wishProduct-bar {
  width: 73%;
  margin: 2rem auto auto auto;
  padding: 0.5em 2em;
  border: 1px solid rgb(167, 165, 165);
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.wishProduct-bar a {
  text-decoration: none;
  margin-right: 2em;
  color: rgb(141, 84, 84);
}
