.warp {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav_bar {
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    .nav_bar_container {
      /* background-color: lightpink; */
      width: 90%;
      display: flex;
      align-items: center;
      /* justify-content: space-around; */
      padding: 0.5em 0px;
      .nav_bar1 {
        width: 15%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .page {
    width: 100%;
    height: 2000vh;
    /* position: relative; */
  }

  .container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fa-check-circle {
      margin: 5rem 5rem 3rem 5rem;
      font-size: 100px;
      color: rgb(163, 169, 175);
    }
    h1 {
      margin: 2rem;
    }
    .back-btn {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        color: rgb(255, 51, 51);
        font-weight: bold;
        &:visited,
        &:link,
        &:active {
          text-decoration: none;
          color: rgb(255, 51, 51);
          font-weight: bold;
        }
        &:hover {
          color: #fff;
        }
      }
      .btn-in {
        margin-right: 2rem;
        .c-btn {
          /* width: 10vw; */
          background-color: #fff;
          /* margin: 3rem 3rem 3rem 3rem; */
          padding: 1rem 3rem 1rem 3rem;
          border: 1px solid rgb(255, 68, 68);
          border-radius: 10px;
          &:hover {
            font: #fff;
            background-color: #b33a35;
            cursor: pointer;
          }
        }
      }
    }
  }
}
