* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: auto; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body {
    background-color: rgb(236, 240, 241);
    position: relative;
}

header {
    background-color: #F38243;
    width: 100%;
    text-align: center;
    font-size: small;
    color: white;
    padding: 0.3rem;
}


/* =============================================================== */
/* navbar */
/* =============================================================== */
.nav_bar {
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.nav_bar_container {
    /* background-color: lightpink; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0px;
}

.nav_bar1 {
    width: 15%;
}

.nav_bar1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_bar2 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_bar2 a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

.searchdiv {
    /* background-color: blue; */
    width: 16%;
    position: relative;
}

.searchdiv input {
    height: 2em;
    width: 100%;
    border-radius: 5px;
    background-color: #ffd5be;
}

.searchdiv a {
    position: absolute;
    font-size: 1px;
    right: 7px;
    top: 7px;
}

.nav_bar3 {
    width: 11%;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.searchdiv i {
    font-size: 20px;
    color: black;
}

.nav_bar3 input {
    background-color: white;
    border-radius: 6px;
}

.nav_bar3 {
    /* outline: auto; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_bar3 i {
    color: black;
    font-size: 25px;
    padding-top: 5px;
}

#member-icon img {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropmenu {
    display: none;
    text-align: center;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 140px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 0.5px solid rgba(0, 0, 0, 0.25);
    /* text-align: center; */
}

.dropmenu a {
    color: black;
    padding: 15px 20px;
    font-size: small;
    text-decoration: none;
    /* text-align: center; */
    display: block;
}

.dropmenu a:hover {
    background-color: rgba(221, 221, 221, 0.941);
}

.dropmenu a:nth-last-of-type(1):hover {
    background-color: tomato;
}

.dropdown:hover .dropmenu {
    display: block;
    border-radius: 5px;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* =============================================================== */
/* main content */
/* =============================================================== */
.main-container {
    width: 75%;
    margin: auto;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.left-div {
    min-width: 230px;
    margin-bottom: 30px;
    margin-right: 30px;
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.right-div {
    width: 75%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

/* =============================================================== */
/* inside left-div */
/* =============================================================== */
.user-icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px 0;
    /* border: 1px solid black; */
    overflow: hidden;
}

.left-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.left-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-nav a {
    color: black;
    text-decoration: none;
}

.left-nav ul li {
    margin-top: 30px;
    list-style-type: none;
    font-size: 16.5px;
    font-weight: 400;
}

.left-nav ul li:last-child {
    padding-bottom: 15px;
}

.choose-pic a {
    /* color: black; */
    font-size: 15px;
}

.user-name {
    margin: 15px 0 0 0;
    font-size: 18px;
    font-weight: bold;
}

.logout-btn {
    margin: 20px 0 0 0;
}

.logout-btn a {
    color: red;
}


/* ========================================================================= */
/* footer */
/* ========================================================================= */
footer {
    width: 100%;
    height: 30vh;
    /* background-color: blue; */
    background-color: white;
    /* outline: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-container {
    /* outline: auto; */
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.footer h5 {
    margin: 20px 0;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: none;
    color: black;
}

.footer li {
    list-style-type: none;
    margin-top: 10px;
}